/*自定义组件*/
/*右上角的红色角标，表示未读消息，放在父元素里面如<span>消息<i></i></span>*/

.regTitle {
    margin:20px 0px 50px 0px;
    font-weight:300;
}
.regInputLable {
    border: 0px; 
    border-radius: 0px 0px; 
    border-bottom: 1px solid #cccccc; 
    background-color: #ffffff;
    font-weight:500;
}
.regInput {
    border: 0px; 
    border-radius: 0px 0px; 
    border-bottom: 1px solid #cccccc
}