@model SkyEntity.RenwuDaka
@using SkyService;
<div class="container peiban-container">

    <div class="row">
        <div class="col-md-8">
            <h3>@Model.DakaTitle</h3>
            <span class="text-gray">陪伴师：@PeibanService.GetRenById(Model.Peibanshi).RenNickName 发布时间：@Model.DakaTime 最后编辑时间：@Model.LastEditTime</span>
            <hr/>
            <div style="line-height:30px;">
                @Html.Raw(Model.DakaContent)
                <span class="pull-right text-gray">首次发布时间：@Model.DakaTime.ToString("yyyy-MM-dd hh:mm:ss") <br/>最后编辑时间：@Model.LastEditTime.ToString("yyyy-MM-dd hh:mm:ss")</span>
            </div>

        </div>
        <div class="col-md-4">

            @Html.Action("UserInfo", "UHome")

        </div>
    </div>

</div>


@section BottomScripts {

}
