@model SkyEntity.Ren
@using SkyService;
@using SkyEntity;
@section Topcss {
    <link href="~/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
}
<div class="container peiban-container">

    <div class="row">
        
        <div class="col-md-8">
            <h3>账号设置</h3>
           

            @using (Html.BeginForm("EditPassword", "UHome", FormMethod.Post, new { @class = "form-horizontal", @name = "CreateProduct", @id = "CreateProduct" }))
            {
                if (!string.IsNullOrEmpty(ViewBag.msg))
                {
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Warning!</strong> @Html.Raw(ViewBag.msg)
                    </div>

                }
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id, new { @Value = ViewBag.rid })
                
                <div class="form-group">
                       
                        <label class="control-label col-sm-2">旧密码</label>
                        <div class="col-sm-6">
                            <input class="form-control" name="RenPassword" id="RenPassword" type="password" placeholder="请输入旧密码" />
                        </div>
                    </div>
                
                 <div class="form-group">
                       
                        <label class="control-label col-sm-2">新密码</label>
                        <div class="col-sm-6">
                            <input class="form-control" name="NewPassword" id="NewPassword" type="password" placeholder="请输入新密码" />
                        </div>
                    </div>
                
                
                 <div class="form-group">
                       
                        <label class="control-label col-sm-2">重复密码</label>
                        <div class="col-sm-6">
                            <input class="form-control" name="RePassword" id="RePassword" type="password" placeholder="请输入重复密码" />
                        </div>
                    </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary col-sm-offset-6">&nbsp;&nbsp;&nbsp;&nbsp;修改密码&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>

            }

        </div>
        <div class="col-md-4">

            @Html.Action("UserInfo", "UHome")

        </div>
    </div>

</div>


@section BottomScripts {
    <script type="text/javascript" src="~/plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Resource/js/SkyWeb.js"></script>
    <script type="text/javascript">

    </script>

}
